.container {
   padding-top: 20px;

}
li {
    list-style-type: none
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-open:hover{
cursor: pointer;
}
.card-close:hover{
cursor: not-allowed    
}

.CollegeName{
  
    text-align: center
}
#Heading {
    font-size: 40px;
    font-weight: 300;
    color: #ea5b31;
    text-align: center;
    vertical-align: middle;
}
#subHeading {
    color:#222222;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
.label-open{
    color: white;
    background-color: #66CD00;
    padding: 5px;
    border-radius: 5px;
}
.label-close{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}
#Restraunt_name{
    width: 62%;
}
.form-group{
   padding-left: 27%;
}
.display-4{
    text-align: center
}
/* @media (max-width: 644px)
{
.container {
    max-width: 740px;
   
	}
} */
@media (min-width: 576px)
{
.container {
    max-width: 740px;
   }
}
/* @media screen and (max-width: 991px) and (min-width : 701px) {
	.container{
		max-width: 900px;
	}

} */


