.container {
   padding-top: 20px;

}
li {
    list-style-type: none
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title:hover {
font-size: 200%;
}
.card-open:hover{
cursor: pointer;
}
.card-close:hover{
cursor: not-allowed    
}
#background {
    background-image: url("https://image.shutterstock.com/image-photo/tomato-basil-sandwiches-ingredients-italian-260nw-326850365.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 6px 8px -6px rgba(0,0,0,.1);
    position: relative;
    min-height: 300px;
    opacity: .8
}
.RestrauntHeading{
    padding-top: 100px;
    text-align: center
}
#Heading {
    font-size: 40px;
    font-weight: 300;
    color: #ea5b31;
    text-align: center;
    vertical-align: middle;
}
#subHeading {
    color:#222222;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
.label-open{
    color: white;
    background-color: #66CD00;
    padding: 5px;
    border-radius: 5px;
}
.label-close{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

